body{
    font-family: Georgia, serif;
    margin: 20px;
    background-color: white;
}

nav{
    background-color: #520202;
    padding: 8px;
}

nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li{
    display: inline-block;
    margin-right: 30px;
}

nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 12px;
}

.container{
    width: 90%;
    max-width: 1200px;
    margin: auto;
}


h1{
    font-size: clamp(24px, 4vw, 36px);

    color: #333;
}

.info{
    margin-bottom: 20px;
}

.info span{
    background-color: #520202;
    color: white;
    padding: 6px 10px;
    margin-right: 5px;
    font-size: 12px;
}

.content{

    display: flex;
    gap: 20px;
    align-items: flex-start;

.gambar{
    margin-top: 0;
}
    
}

@media (max-width: 768px){

    .content{
        flex-direction: column;
        align-items: center;
    }

    .deskripsi{
        margin-left: 0;
        margin-top: 15px;
    }

    nav ul li{
        display: block;
        margin: 10px 0;
    }
}



.gambar img{
    width: 180px;
    height: 180px;
    border: 1px solid #ccc;
    
}

.deskripsi{
    margin-left: 20px;
    text-align: justify;
    color: #444;
    font-size: 17px;
}

.readmore{
    text-align: right;
    margin-top: 20px;
}

.readmore a{
    text-decoration: none;
    color: brown;
    font-weight: bold;
    font-size: 20px;
}